{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'car_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <form method='post' action='{% url "car_app:add_travel" %}'>
      {% csrf_token %}
      <table>
        <caption>Поездка</caption>
        <tr><td><hr></td></tr>
        <tr>
          <td>
            <table align='center'>
              <caption>{{ form.points.label }}</caption>
              <tr>
                <td>{{ form.point_start.label }}</td>
                <td>{{ form.point_start       }}</td>
              </tr>
              <tr>
                <td>{{ form.point_end.label }}</td>
                <td>{{ form.point_end       }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td>
            <table align='center'>
              <caption>{{ calend_labels.time.label }}</caption>
              <tr>
                <td></td>
                <td>{{ calend_labels.day.label    }}</td>
                <td>{{ calend_labels.month.label  }}</td>
                <td>{{ calend_labels.year.label   }}</td>
                <td>{{ calend_labels.hour.label   }}</td>
                <td>{{ calend_labels.minute.label }}</td>
                <td>{{ calend_labels.second.label }}</td>
              </tr>
              <tr>
                <td>{{ form.start.label  }}</td>
                <td>{{ form.day_start    }}</td>
                <td>{{ form.month_start  }}</td>
                <td>{{ form.year_start   }}</td>
                <td>{{ form.hour_start   }}</td>
                <td>{{ form.minute_start }}</td>
                <td>{{ form.second_start }}</td>
              </tr>
              <tr>
                <td>{{ form.end.label  }}</td>
                <td>{{ form.day_end    }}</td>
                <td>{{ form.month_end  }}</td>
                <td>{{ form.year_end   }}</td>
                <td>{{ form.hour_end   }}</td>
                <td>{{ form.minute_end }}</td>
                <td>{{ form.second_end }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
          <td>
            <table align='center'>
              <tr>
                <td>{{ form.distance.label }}</td>
                <td>{{ form.distance       }}</td>
              </tr>
              <tr>
                <td>{{ form.comment.label }}</td>
                <td>{{ form.comment       }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr><td><hr></td></tr>
      </table>
      <input type='submit' value='Записать'>
      <input type='reset'  value='Очистить'>
    </form>
  </center>
{% endblock %}

