{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'car_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <table border=1>
      <caption>Типы топлива</caption>
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Комментарий</th>
      </tr>
      {% for fuel_type in fuel_types %}
        <tr>
          <td>{{ fuel_type.id      }}</td>
          <td>{{ fuel_type.name    }}</td>
          <td>{{ fuel_type.comment }}</td>
        </tr>
      {% endfor %}
    </table>
  </center>
{% endblock %}
