{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  {% for item in items %}
    <a href="/{{ item.app }}/{{ item.href }}">{{ item.text }}</a>
  {% endfor %}
{% endblock %}

{% block content %}
  <center>
    <table border=1>
      <caption>Описание приложения "Настройка меню"</caption>
      <tr>
        <th>Пункт меню</th>
        <th>Назначение</th>
      </tr>
      <tr>
        <td>Действия</td>
        <td>Настройка подпунктов меню приложений</td>
      </tr>
      <tr>
        <td>Меню пользователя</td>
        <td>Составление персонального меню для пользователей</td>
      </tr>
      <tr>
        <td>Меню приложений</td>
        <td>Составление меню для приложений</td>
      </tr>
      <tr>
        <td>Пользователи</td>
        <td>Настройка пользователей</td>
      </tr>
      <tr>
        <td>Приложения</td>
        <td>Настройка приложений</td>
      </tr>
    </table>
  </center>
{% endblock %}

