{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'humans_app:display_all' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <table>
      <tr>
        <td>Фамилия</td>
        <td>
          {{ human.family }}
          {% if human.first_family %}
            ({{ human.first_family }})
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{ human.name }}</td>
      </tr>
      <tr>
        <td>Отчество</td>
        <td>{{ human.father_name }}</td>
      </tr>
      {% if human.sex != None %}
        <tr>
          <td>Пол</td>
          <td>
            {% if human.sex %}
              Мужской
            {% else %}
              Женский
            {% endif %}
          </td>
        </tr>
      {% endif %}
      {% if human.birthday %}
        <tr>
          <td>Дата рождения</td>
          <td>{{ human.birthday }}</td>
        </tr>
      {% endif %}
      {% if human.deadday %}
        <tr>
          <td>Дата смерти</td>
          <td>{{ human.deadday }}</td>
        </tr>
      {% endif %}
    </table>
  </center>
{% endblock %}

