#menu {
  width:            100%;
  height:           60%;
  margin:           0;
  padding:          0;
  background-color: #0c3297;
  color:            yellow;
}

#menu a {
  display:          block;
  color:            yellow;
  text-decoration:  none;
}

#menu a:hover {
  display:          block;
  color:            blue;
  background-color: yellow;
  text-decoration:  underline;
}

