{% extends 'sheduler/main.html' %}

{% block submenu %}
  {% if type == 'task' %}
    <a href="{% url 'sheduler:tasks:add' %}">Добавить задачу</a>
  {% elif type == 'locations' %}
    <a href="{% url 'sheduler:locations:add' %}">Добавить место</a>
  {% elif type == 'humans' %}
    <a href="{% url 'sheduler:humans:add' %}">Добавить человека</a>
  {% endif %}
  <a href="{% url 'sheduler:current_issues' %}">Назад</a>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>
      <input type="hidden" name="task" value="{{ task.id }}">
      <input type="hidden" name="locations_ids" value="{{ locations_ids }}">
      <input type="hidden" name="humans_ids" value="{{ humans_ids }}">
      {{ task.name }}
      <caption>
        {% if type == 'task' %}
          Выберите задачу
        {% elif type == 'locations' %}
          Выберите места
        {% elif type == 'humans'%}
          Выберите людей
        {% elif type == 'excess' %}
          Исключите лишнее
        {% endif %}
      </caption>
      {% for obj in objects %}
        <tr>
          <td>{{ obj.name }}</td>
          {% if multi %}
            <td><input type="checkbox" name="{{ obj.id }}"></td>
          {% else %}
            <td><input type="radio" name="{{ type }}" value="{{ obj.id }}"></td>
          {% endif %}
        </tr>
      {% endfor %}
      {% for location in locations %}
        {% for human in humans %}
          <tr>
            <td>{{ location.name }}</td>
            <td>{{ human.name }}</td>
            <td><input type="checkbox" name="{{ location.id }}_{{ human.id }}" checked></td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    {% if type == 'excess' %}
      <input type="submit" value="Оставить отмеченные">
    {% else %}
      <input type="submit" value="Продолжить">
    {% endif %}
  </form>
{% endblock %}
