{% extends 'calend/main.html' %}
{% load static %}

{% block add_links %}
  <link rel="stylesheet" type="text/css" href="{% static 'calend/css/year.css' %}">
{% endblock %}

{% block content %}
  <table id="year_calend">
    <caption>
      <a href="{% url 'calend:year' year.prev %}"><--</a>
      {{ year.now }}
      <a href="{% url 'calend:year' year.next %}">--></a>
    </caption>
    {% for kvartal in kvartals %}
      <tr>
        <td>{{ kvartal.num }} квартал</td>
        {% for month in kvartal.months %}
          <td>
            <table>
              <caption>
                <a href="{% url 'calend:month' year.now month.num %}">{{ month.name }}</a>
              </caption>
              <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th class="week">Сб</th>
                <th class="week">Вс</th>
              </tr>
              {% for day in month.days %}
                {% if day.weekkay == 0 %}
                  <tr>
                {% endif %}
                <td class="{{ day.type }} {{ day.mark }} right_text">{{ day.num }}</td>
                {% if day.weekday == 6 %}
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          </td>
        {% endfor %}
        {% if kvartal.num == 1 %}
          <td rowspan=4>
            <table>
              <caption>Легенда</caption>
              <tr>
                <td class="work">0</td>
                <td>Рабочий день</td>
              </tr>
              <tr>
                <td class="week">0</td>
                <td>Выходной день</td>
              </tr>
              <tr>
                <td class="holiday">0</td>
                <td>Праздничный день</td>
              </tr>
              <tr>
                <td class="short">0</td>
                <td>Сокращённый день</td>
              </tr>
              <tr>
                <td class="mark">0</td>
                <td>Напоминание</td>
              </tr>
            </table>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
