{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'auth_app/main.css' %}">
		<title>VlasovNetwork.sknt.ru</title>
	</head>
	<body>
		<form action="{% url 'auth_app:login' %}" method="post">
			{% csrf_token %}
			<center>
				<table>
					<caption>Авторизация</caption>
					<tr>
						<td>Имя пользователя</td>
						<td>
							<input type="text" name="username" id="username">
						</td>
					</tr>
					<tr>
						<td>Пароль</td>
						<td>
							<input type="password" name="password" id="password">
						</td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<input class="button" type="submit" value="Войти">
						</td>
					</tr>
				</table>
			</center>
		</form>
	</body>
</html>
