<center>
	<table border='1' align='center'>
		<caption>
			<a href="{% url 'calend_app:index' prev_year prev_month %}">
				<--
			</a>
			{{ month_text }} {{ year }}
			<a href="{% url 'calend_app:index' next_year next_month %}">
				-->
			</a>
		</caption>
		<tr>
			<td>Пн</td>
			<td>Вт</td>
			<td>Ср</td>
			<td>Чт</td>
			<td>Пт</td>
			<td>
				<font color="red">
					Сб
				</font>
			</td>
			<td>
				<font color="red">
					Вс
				</font>
			</td>
		</tr>
		{% autoescape off %}
			{{ table }}
		{% endautoescape %}
	</table>
</center>
