{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
	<a href="{% url 'metro_app:case_month' %}">Назад</a>
{% endblock %}

{% block content %}
  <link rel='stylesheet' type='text/css' href="{% static 'metro/display_payslip.css' %}"> 
	<form name='payslip' action="{% url 'metro_app:add_payslip' %}" method='post'>
		{% csrf_token %}
    <table cellpadding=0 cellspacing=0 class='payslip'>
      <tr>
        <td colspan=2 class='t-c_b-ltr'>
          Р А С Ч Е Т Н Ы Й &nbsp; Л И С Т О К
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lr'>
         Предприятие  МЕТРО Кэш энд Керри ООО
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lr'>
					<table align='center'>
						<tr>
							<td>
								За &nbsp
							</td>
							<td>
								<select name='month' size=1>
									<option value='1'>Январь
									<option value='2'>Февраль
									<option value='3'>Март
									<option value='4'>Апрель
									<option value='5'>Май
									<option value='6'>Июнь
									<option value='7'>Июль
									<option value='8'>Август
									<option value='9'>Сентябрь
									<option value='10'>Октябрь
									<option value='11'>Ноябрь
									<option value='12'>Декабрь
								</select>
							</td>
							<td>
								<input type='number' name='year' value='2016'>
							</td>
						</tr>
					</table>
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lr'>
          Г─жа Власова Аксения Ивановна
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lr'>
          ТН:33076132
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lr'>
          <table align='center' cellpadding=0 cellspacing=0>
            <tr>
              <td class='t-r'>
                Подразделение:
              </td>
              <td>
                <input type='text' name='division' size=30 maxlength=50>
              </td>
            </tr>
            <tr>
              <td class='t-r'>
                Должность:
              </td>
              <td>
                <input type='text' name='post' size=30 maxlength=50>
              </td>
            </tr>
            <tr>
              <td class='t-r'>
                Оклад/Тариф:
              </td>
              <td>
                <input type='text' name='rate' size=30 maxlength=10>
              </td>
            </tr>
          </table>
          <br>
        </td>
      </tr>
      <tr>
        <td colspan=2 class='b-lrb'>
          <table cellpadding=0 cellspacing=0>
            <tr>
              <td>
                Долг за работником на начало месяца
              </td>
              <td class='t-r'>
                ─
              </td>
              <td class='t-r'>
              	<input type='text' name='begin_dolg' size=10 maxlength=10 value='0.00'>
              </td>
            </tr>
            <tr>
              <td>
                Выплачено в течение месяца
              </td>
              <td class='t-r'>
                ─
              </td>
							<td class='t-r'>
								<input type='text' name='rotate_dolg' size=10 maxlength=10 value='0.00'>
              <td class='t-r'>
              </td>
            </tr>
            <tr>
              <td>
                Долг за работником на конец месяца
              </td>
              <td class='t-r'>
                ─
              </td>
              <td class='t-r'>
                <input type='text' name='end_dolg' size=10 maxlength=10 value='0.00'>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class='b-lrb'>
          <table cellpadding=0 cellspacing=0>
            <tr>
              <td colspan=2 class='t-c_b-b'>
                Начисления
              </td>
            </tr>
            <tr>
              <td class='b-lrb'>
                Начислено
              </td>
              <td class='t-r_b-rb'>
                <input type='text' name='income' size=10 maxlength=10>
              </td>
            </tr>
            <tr>
              <td class='b-lrb'>
                Пересылка в банк
              </td>
              <td class='t-r_b-rb'>
                <input type='text' name='paying' size=10 maxlength=10>
              </td>
              <td class='t-r'>
              </td>
            </tr>
          </table>
          <br>
        </td>
        <td valign='top' class='b-rb'>
          <table cellpadding=0 cellspacing=0>
            <tr>
              <td colspan=2 class='t-c_b-b'>
                Удержания
              </td>
            </tr>
            <tr>
              <td class='b-lrb'>
                Удержано
              </td>
              <td class='t-r_b-rb'>
                <input type='text' name='consumption' size=10 maxlength=10>
              </td>
            </tr>
          </table>
        </td>
      </tr>
			<tr align='center'>
				<td>
					<input type='submit' value='Далее'>
				</td>
				<td>
					<input type='reset' value='Очистить'>
				</td>
			</tr>
    </table>
	</form>
{% endblock %}