{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'metro_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    {% if   href == 'payslip' %}    <form action="{% url 'metro_app:display_payslip' %}" method="post">
    {% elif href == 'calculation' %}<form action="{% url 'metro_app:calculation' %}"     method="post">
    {% endif %}
      {% csrf_token %}
      <table cellpadding="5">
        <caption>Выбери месяц<br></caption>
        <tr>
          <td>
            <select name='month' size=1>
              <option value='1' >Январь
              <option value='2' >Февраль
              <option value='3' >Март
              <option value='4' >Апрель
              <option value='5' >Май
              <option value='6' >Июнь
              <option value='7' >Июль
              <option value='8' >Август
              <option value='9' >Сентябрь
              <option value='10'>Октябрь
              <option value='11'>Ноябрь
              <option value='12'>Декабрь
            </select>
          </td>
          <td>
            <input type="number" name="year" value='2017' max=9999>
          </td>
        </tr>
        <tr align="center">
          <td colspan="2">
            <input type="submit" value="Далее">
          </td>
        </tr>
      </table>
    </form>
  </center>
{% endblock %}

