{% extends 'main/index.html' %}
{% load staticfiles %}

{% block content %}
  <link rel='stylesheet' type='text/css' href='{% static "metro/control_payslip.css" %}'>
  <div id='control_payslip'>
    <table>
      <caption>Страница контроля расчётного листка за {{ payslip.period }}</caption>
      <tr>
        <th>Код НДФЛ</th>
        <th>Расшифровка кода</th>
        <th>Период</th>
        <th>Ошибка</th>
        <th>Разница</th>
      </tr>
      {% for error in errors %}
        {% if error.math_count == 99999 %}
          <tr>
            <td>{{ error.code.code }}</td>
            <td>{{ error.code.name }}</td>
            <td>{{ error.period }}</td>
            <td>Неизвестное правило контроля количества</td>
            <td></td>
          </tr>
        {% elif error.err_count > 0.009 or error.err_count < -0.009%}
          <tr>
            <td>{{ error.code.code }}</td>
            <td>{{ error.code.name }}</td>
            <td>{{ error.period }}</td>
            <td>Неверное количество</td>
            <td>{{ error.err_count }}</td>
        {% endif %}
        {% if error.math_summa == 99999 %}
          <tr>
            <td>{{ error.code.code }}</td>
            <td>{{ error.code.name }}</td>
            <td>{{ error.period }}</td>
            <td>Неизвестное правило контроля суммы</td>
            <td></td>
          </tr>
        {% elif error.math_summa == 88888 %}
          <tr></tr>
        {% elif error.err_summa > 0.009 or error.err_summa < -0.009%}
          <tr>
            <td>{{ error.code.code }}</td>
            <td>{{ error.code.name }}</td>
            <td>{{ error.period }}</td>
            <td>Неверная сумма</td>
            <td>{{ error.err_summa }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock%}

