{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'metro_app:display_payslip_codes' %}">Коды НДФЛ</a>
  <a href="{% url 'metro_app:index'                 %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <table border=1>
      <caption>Описание приложения Metro Cash and Carry</caption>
      <tr>
        <th>Пункт меню</th>
        <th>Назначение</th>
      </tr>
      <tr>
        <td>Коды НДФЛ</td>
        <td>Настройка кодов, допустимых в расчетном листке</td>
      </tr>
    </table>
  </center>
{% endblock %}

