{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'metro_app:add_shedule_real'      %}">Добавить смену</a>
  <a href="{% url 'metro_app:display_payslip_codes' %}">Коды НДФЛ</a>
  <a href="{% url 'metro_app:display_tabel'         %}">Табель</a>
  <a href="{% url 'main_app:index'                  %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <table border=1>
      <caption>Описание приложения Metro Cash and Carry</caption>
      <tr>
        <th>Пункт меню</th>
        <th>Назначение</th>
      </tr>
      <tr>
        <td>Добавить смену</td>
        <td>Добавление отработанной смены в табель</td>
      </tr>
      <tr>
        <td>Коды НДФЛ</td>
        <td>Настройка кодов, допустимых в расчетном листке</td>
      </tr>
      <tr>
        <td>Табель</td>
        <td>Просмотр табеля отработанных смен</td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>Расчетный листок</td>
        <td></td>
      </tr>
      <tr>
        <td>Новый график</td>
        <td></td>
      </tr>
      <tr>
        <td>Расчеты</td>
        <td></td>
      </tr>
    </table>
  </center>
{% endblock %}

