{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  {% for item in items %}
    <a href="/{{ item.app }}/{{ item.href }}">{{ item.text }}</a>
  {% endfor %}
{% endblock %}

{% block content %}
  <center>
    <table border=1>
      <caption>Описание приложения Metro Cash and Carry</caption>
      <tr>
        <th>Пункт меню</th>
        <th>Назначение</th>
      </tr>
      <tr>
        <td>Коды НДФЛ</td>
        <td>Настройка кодов, допустимых в расчетном листке</td>
      </tr>
      <tr>
        <td>Новая смена</td>
        <td>Добавление смены в график реально отработанных смен</td>
      </tr>
      <tr>
        <td>Новый график</td>
        <td>Добавление предварительного графика на следующий месяц</td>
      </tr>
      <tr>
        <td>Расчетный листок</td>
        <td>Работа с предоставленным расчетным листком (создание, контроль)</td>
      </tr>
      <tr>
        <td>Табель</td>
        <td>Просмотр табеля отработанных смен</td>
      </tr>
    </table>
  </center>
{% endblock %}

