{% extends 'car/main.html' %}

{% block content %}
  <table>
    <tr>
      <th>АЗС</th>
      <td>{{ refuel.fuel_station }}</td>
    </tr>
    <tr>
      <th>Номер чека</th>
      <td>{{ refuel.check_number }}</td>
    </tr>
    <tr>
      <th>Дата и время</th>
      <td>{{ refuel.datetime }}</td>
    </tr>
    <tr>
      <th>ТРК</th>
      <td>{{ refuel.trk }}</td>
    </tr>
    <tr>
      <th>Топливо</th>
      <td>{{ refuel.fuel }}</td>
    </tr>
    <tr>
      <th>Количество</th>
      <td>{{ refuel.count }}</td>
    </tr>
    <tr>
      <th>Цена</th>
      <td>{{ refuel.price }}</td>
    </tr>
    <tr>
      <th>Стоимость</th>
      <td>{{ refuel.cost }}</td>
    </tr>
    <tr>
      <th>Запас хода</th>
      <td>{{ refuel.distance_reserve }}</td>
    </tr>
    <tr>
      <th>Средний расход</th>
      <td>{{ refuel.fuel_consumption_avg }}</td>
    </tr>
    <tr>
      <th>Пробег</th>
      <td>{{ refuel.odometer }}</td>
    </tr>
    <tr>
      <th>Межзаправочный пробег</th>
      <td>{{ refuel.distance }}</td>
    </tr>
    <tr>
      <th>Межзаправочный расход</th>
      <td>{{ refuel.fuel_consumption }}</td>
    </tr>
    <tr>
      <th>Временной интервал</th>
      <td>{{ refuel.timedelta }}</td>
    </tr>
  </table>
{% endblock %}

