<h1>Путешествие "{{ travel.name }}"</h1>
<h3>Состояние: {{ travel.state }}</h3>
<h3>Начало: {{ travel.datetime_start }}, окончание: {{ travel.datetime_end }}</h3>
<h3>Участники: {{ travel.participants }}</h3>
<h3>
  <table>
    <caption>
      <h3>Путевыве точки</h3>
    </caption>
    <tr>
      <th>Дата и время</th>
      <th>Город</th>
      <th>Название</th>
      <th>Действие</th>
    </tr>
    {% for point in travel.points.all %}
      <tr>
        <td>{{ point.datetime }}</td>
        <td>{{ point.place.city }}</td>
        <td>{{ point.place.name }}</td>
        <td>{{ point.doing }}</td>
      </tr>
    {% endfor %}
  </table>
</h3>
<h3>
  <table>
    <caption>
      <h3>Топливо</h3>
    </caption>
    <tr>
      <th>Старт</th>
      <th>Цель</th>
      <th>Расстояние</th>
      <th>Топливо (л)</th>
      <th>Стоимость (руб)</th>
    </tr>
    {% for way in travel.get_ways %}
      <tr>
        <td>{{ way.start_point.place.city }}</td>
        <td>{{ way.target_point.place.city }}</td>
        <td>{{ way.distance }}</td>
        <td>{{ way.get_fuel_count }}</td>
        <td>{{ way.get_fuel_cost }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <th>Итого</th>
      <td>{{ travel.get_distance }}</td>
      <td>{{ travel.get_fuel_count }}</td>
      <td>{{ travel.get_fuel_cost }}</td>
    </tr>
  </table>
</h3>
<h3>
  <table>
    <caption>
      <h3>Платные дороги</h3>
    </caption>
    <tr>
      <th>Трасса</th>
      <th>Заезд</th>
      <th>Выезд</th>
      <th>Стоимость</th>
    </tr>
    {% for toll_road in travel.toll_roads.all %}
      <tr>
        <td>{{ toll_road.name }}</td>
        <td>{{ toll_road.start }}</td>
        <td>{{ toll_road.end }}</td>
        <td>{{ toll_road.price }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <th>Итого</th>
      <td>{{ travel.get_toll_road_cost }}</td>
    </tr>
  </table>
</h3>

<h1>DEBUG</h1>
{{ travel.toll_roads.all }}
