{% extends 'travels/main.html' %}

{% block content %}
  {% if travels %}
    <table>
      <tr>
        <th>Название</th>
        <th>Даты</th>
      </tr>
      {% for travel in travels %}
        <tr>
          <td>
            <a href='{% url 'travels:detail' travel.id %}'>{{ travel.name }}</a>
          </td>
          <!--td>{{ travel.get_datetime_start }} - {{ travel.get_datetime_end }}</td-->
          <td>{{ travel.start_datetime }} - {{ travel.end_datetime }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>Нет доступных путешествий</p>
  {% endif %}
{% endblock %}
