table {
  border-collapse: collapse;
}

caption {
  padding-top: 50px;
}

th {
  border: 1px solid black;
  padding: 5px;
}

td {
  padding: 5px;
}

td.text {
  text-align: left;
}

td.numeric {
  text-align: right;
  font-family: monospace;
  font-size:   110%;
}

td.bl { border-left:  1px solid black; }
td.br { border-right: 1px solid black; }
td.bt { border-top:   1px solid black; }
td.ba { border:       1px solid black; }
