#content .calend_year table {
	border:						1px solid;
	text-align:				right;
}

#content .calend_year a {
	color:						blue;
	text-decoration:	none;
}

#content .calend_year a:hover {
	color:						red;
	text-decoration:	none
}

#content .week		{color:	red;}
#content .holiday	{color:	green;}
#content .short		{color:	blue;}

