#content .calend_year {
	font-size:				0.8em;
}

#content .calend_year table {
	border:						1px solid;
}

#content .calend_year a {
	color:						blue;
	text-decoration:	none;
}

#content .calend_year a:hover {
	color:						red;
	text-decoration:	none
}

#content .calend_month {
	font-size:				1.0em;
}

#content .week		{color:	red;}
#content .holiday	{color:	green;}
#content .short		{color:	yellow;}

