{% extends 'main/index.html' %}
{% load staticfiles %}

{% block content %}
	<form action="{% url 'menu_app:case_user' %}" method="post">
		{% csrf_token %}
		<table cellpadding="5">
			<caption>Выбери пользователя<br></caption>
			{% for user in menu_users %}
				<tr>
					<td>
						<input type="radio" name="user" value="{{ user.name }}">{{ user.name }}
					</td>
				</tr>
			{% endfor %}
			<tr align="center">
				<td colspan="2">
					<input type="submit" value="Далее">
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
