{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'car_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <form method='post' action='{% url "car_app:add_fuel_type" %}'>
      {% csrf_token %}
      <table>
        <caption>Тип топлива</caption>
        <tr>
          <td colspan=2>
            <hr>
          </td>
        </tr>
        <tr>
          <td>{{ form.name.label }}</td>
          <td>{{ form.name       }}</td>
        </tr>
        <tr>
          <td>{{ form.comment.label }}</td>
          <td>{{ form.comment       }}</td>
        </tr>
        <tr>
          <td colspan=2>
            <hr>
          </td>
        </tr>
      </table>
      <input type='submit' value='Записать'>
      <input type='reset'  value='Очистить'>
    </form>
  </center>
{% endblock %}

