header {
  text-align:       center;
  color:            red;
  background-color: #0c3297;
  background-image: url("../images/sky.jpg");
  padding-bottom:   10px;
}

#header_text {
  padding-top:    10px;
  padding-bottom: 10px;
}

