body {
	margin-left:			50%;
}

#main {
	width:						808;
	height:						606;
	margin:						0;
	padding:					0;
	position:					relative;
	left:							-400;
}

#header {
	border:						none;
	width:						780;
	height:						80;
	margin:						0;
	padding:					10;
	float:						left;
	background-color:	#0a33a9;
	background-image:	url("images/header.jpg");
	text-align:				center;
}

#header a {
	color:						red;
}

#header a:hover {
	text-decoration:	underline;
}

#staff {
	width:						200;
	height:						450;
	margin:						0;
	padding:					0;
	float:						left;
}

#menu {
	width:						180;
	height:						230;
	margin:						0;
	padding:					10;
	background-color:	#0a33a9;
	color:						yellow;
}

#menu a {
	display:					block;
	color:						yellow;
	text-decoration:	none;
}

#menu a:hover {
	display:					block;
	color:						blue;
	background-color:	yellow;
	text-decoration:	underline;
}

#calend {
	border-left:			1px solid blue;
	border-right:			1px solid blue;
	width:						178;
	height:						180;
	margin:						0;
	padding:					10;
}

#content {
	border-right:			1px solid blue;
	width:						579;
	height:						430;
	margin:						0;
	padding:					10;
	float:						left;
}

#footer {
	width:						780;
	height:						30;
	margin:						0;
	padding:					10;
	clear:						both;
	text-align:				right;
	background-color:	green;
}

