{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
    <title>
      Мой сайт (develop)
    </title>
  </head>
  <body>
    <div id="main">
      <link rel="stylesheet" type="text/css" href="{% static 'main/header.css' %}">
      <div id="header">
        {% block header %}
          <br>
          <a href="/">Домой (VlasovNetwork.sknt.ru)</a>
          <br>
          <a href="{% url 'auth_app:logout' %}">
            Выход ({{ user.username }})
          </a>
        {% endblock %}
      </div>
      <link rel="stylesheet" type="text/css" href="{% static 'main/staff.css' %}">
      <div id="staff">
        <link rel="stylesheet" type="text/css" href="{% static 'main/menu.css' %}">
        <div id="menu">
          {% block menu %}
            {% for item in items %}
              <a href="/{{ item.app }}/">
                {{ item.text }}
              </a>
            {% endfor %}
          {% endblock %}
        </div>
        <link rel="stylesheet" type="text/css" href="{% static 'main/calend.css' %}">
        <div id="calend">
          <br>
          <center>
            <table border="1">
              <caption>{{ month_text }}</caption>
              <tr>
                <td>Пн</td>
                <td>Вт</td>
                <td>Ср</td>
                <td>Чт</td>
                <td>Пт</td>
                <td class="week">Сб</td>
                <td class="week">Вс</td>
              </tr>
              {% autoescape off %}
                {{ calend }}
              {% endautoescape %}
            </table>
            Сегодня: {{ now }}
          </center>
        </div>
      </div>
      <link rel="stylesheet" type="text/css" href="{% static 'main/content.css' %}">
      <div id="content">
        {% block content %}
          <center>
            Добро пожаловать на сайт VlasovNetwork.sknt.ru<br><br>

            Сайт создан для личных потребностей.<br><br>
            <table border=1>
              <caption>Приложения</caption>
              <tr>
                <th>Название</th>
                <th>Описание</th>
              </tr>
              {% for app in apps %}
                <tr>
                  <td>{{ app.text    }}</td>
                  <td>{{ app.comment }}</td>
                </tr>
              {% endfor %}
            </table>
          </center>
        {% endblock %}
      </div>
      <link rel="stylesheet" type="text/css" href="{% static 'main/footer.css' %}">
      <div id="footer">
        {% block footer %}
          Vlasov Anton &copy; 2016 - 2017<br>
        {% endblock %}
      </div>
    </div>
  </body>
</html>

