body {
  background:           blue;
  background-image:     url('../images/sky.jpg');
  background-repeat:    no-repeat;
  background-position:  center top;
}

table {
  margin:               10%;
  color:                yellow;
}

caption {
  color:                white;
  text-decoration:      underline;
}

