{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'budget_app:add_debet_type' %}">Добавить тип дохода</a>
  <a href="{% url 'budget_app:add_org' %}">Добавить организацию</a>
  <a href="{% url 'budget_app:add_card' %}">Добавить счет</a>
  <a href="{% url 'budget_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <form action="{% url 'budget_app:add_debet' %}" method="post">
      {% csrf_token %}
      <table>
        <caption>Добавление дохода</caption>
        <tr>
          <td>{{ form.date.label }}</td>
          <td>{{ form.date       }}</td>
        </tr>
        <tr>
          <td>{{ form.time.label }}</td>
          <td>{{ form.time       }}</td>
        </tr>
        <tr>
          <td>{{ form.summa.label }}</td>
          <td>{{ form.summa       }}</td>
        </tr>
        <tr>
          <td>{{ form.type.label }}</td>
          <td>{{ form.type       }}</td>
        </tr>
        <tr>
          <td>{{ form.payer.label }}</td>
          <td>{{ form.payer       }}</td>
        </tr>
        <tr>
          <td>{{ form.card.label }}</td>
          <td>{{ form.card       }}</td>
        </tr>
        <tr>
          <td>{{ form.comment.label }}</td>
          <td>{{ form.comment       }}</td>
        </tr>
      </table>
      <input type="submit" value="Принять">
      <input type="reset"  value="Очистить">
    </form>
  </center>
{% endblock %}
