{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  {% if   func == 'debets'  %}<a href="{% url 'budget_app:add_debet' %}">Добавить доход </a>
  {% elif func == 'credits' %}
    <a href="{% url 'budget_app:add_cheque' %}">Добавить чек</a>
    <a href="{% url 'budget_app:case_cheque' %}">Добавить товар в чек</a>
  {% endif %}
  <a href="{% url 'budget_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'budget/case_period.css' %}">
  <center>
    {% if   func == 'debets'  %}<form action="{% url 'budget_app:display_debets'  %}" method="post">
    {% elif func == 'credits' %}<form action="{% url 'budget_app:display_credits' %}" method="post">
    {% endif %}
      {% csrf_token %}
      <table>
        <caption>Укажите период</caption>
        <tr>
          <th></th>
          <th>{{ form.day_start.label   }}</th>
          <th>{{ form.month_start.label }}</th>
          <th>{{ form.year_start.label  }}</th>
        </tr>
        <tr>
          <td>Начало периода</td>
          <td>{{ form.day_start   }}</td>
          <td>{{ form.month_start }}</td>
          <td>{{ form.year_start  }}</td>
        </tr>
        <tr>
          <td>Окончание периода</td>
          <td>{{ form.day_end   }}</td>
          <td>{{ form.month_end }}</td>
          <td>{{ form.year_end  }}</td>
        </tr>
        <tr>
          <td colspan="4"><hr></td>
      </table>
      {{ form.template }}
      <input type="submit" value="Принять">
      <input type="reset"  value="Очистить">
    </form>
  </center>
{% endblock %}
