{% extends 'main/index.html' %}
{% load staticfiles %}

{% block menu %}
  <a href="{% url 'budget_app:add_debet' %}">Добавить доход</a>
  <a href="{% url 'budget_app:index' %}">Назад</a>
{% endblock %}

{% block content %}
  <center>
    <table>
      <caption>Доходы с {{ date_start }} по {{ date_end }}</caption>
      {% if template == 'all' %}
        <tr>
          <th>Дата       </th>
          <th>Время      </th>
          <th>Сумма      </th>
          <th>Комментарий</th>
          <th>Счет       </th>
          <th>Плательщик </th>
          <th>Тип        </th>
        </tr>
        {% for debet in debets %}
          <tr>
            <td>{{ debet.date    }}</td>
            <td>{{ debet.time    }}</td>
            <td align='right'>{{ debet.summa   }}</td>
            <td>{{ debet.comment }}</td>
            <td>{{ debet.card    }}</td>
            <td>{{ debet.payer   }}</td>
            <td>{{ debet.type    }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="7"><hr></td>
        </tr>
        <tr>
          <td colspan="2">Итого</td>
          <td>{{ akkum }}</td>
        </tr>
      {% elif template == 'org' %}
        <tr>
          <th>Организация</th>
          <th>Сумма      </th>
        </tr>
        {% for org in orgs %}
          <tr>
            <td>{{ org.name  }}</td>
            <td>{{ org.summa }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan=2><hr></td>
        <tr>
        <tr>
          <td>Итого</td>
          <td>{{ akkum }}</td>
        </tr>
      {% endif %}
    </table>
  </center>
{% endblock %}
